@font-face {
  font-family: "iconfont"; /* Project id 5078509 */
  src: url('iconfont.woff2?t=1764646671761') format('woff2'),
       url('iconfont.woff?t=1764646671761') format('woff'),
       url('iconfont.ttf?t=1764646671761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e60d";
}

.icon-right-copy:before {
  content: "\e60e";
}

